:root {
    --Turquoise: #5adbbb;
    --DarkTurq: #348c76;
    --PaleTurq: #c5ede4;
}


/* Normalizing rules here!!! */
body,
html {
    min-height: 100vh;
    height: 100%;
    margin: 0;
}

img {
    max-width: 100%;
}

.resizeImg {
    max-width: 30%;
}

body.fullPage {
    display: flex;
    flex-direction: column;
}



/* Containers */
header {
    background-color: var(--Turquoise);
    padding-left: 20px;
    padding-right: 20px;
    border-style: none;
}

.headerGrid {
    display: grid;
    grid-template-columns: 5fr 3fr;

    border-style: none;
}

.headerIconsGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: right;
    padding-top: 20px;

    border-style: none;
}

.headerIcon {
    height: 10vh;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-size: 70%;

    padding: 0;
    margin-right: 10px;
    margin-left: 10px;

    border-style: none;
}

#temp {
    background-image: url("../images/temp-icon.png");
}

#energy {

    background-image: url("../images/energy-icon.png");
}

#levels {
    background-image: url("../images/levels-icon.png");
}

#cloning {
    background-image: url("../images/clone-icon.png");
}

footer {
    background-color: var(--Turquoise);
    padding: 20px;
}

.footerButtons {
    display: flex;
}

#footerGrid {
    grid-template-columns: 1fr 2fr;
}

.footerAlignRight {
    text-align: right;
}

main {
    flex-grow: 1;
    background-color: black;
    color: white;
}

.twoSecGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.showBorder {
    border-style: solid;
    padding: 10px;
    align-items: center;
    text-align: center;
}

.rightLargerGrid {
    display: grid;
    grid-template-columns: 1fr 2fr;

    border-style: solid;
    padding: 10px;
}

.displayView {
    margin: 10px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 70vh;

    border-style: solid;
    border-width: 1px;
}

.himView {
    background-image: url("../images/vatview_good.gif");
}

.apparatusView {
    background-image: url("../images/apparatusView_good.gif");
}

.viewButton {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 5px;

    color: white;

    border-style: solid;
}

.viewButton:hover {
    cursor: pointer;
    color: var(--Turquoise);
}

.viewButtonClicked {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 0;
    padding-bottom: 5px;

    color: var(--Turquoise);
}

.cloneChamber {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 40vh;

    background-image: url('../images/emptyChamber.png');
}

.cloneButton {
    display: flex;

    background-color: var(--Turquoise);
    color: black;
    padding: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;

    height: 10vh;
}

.cloneButton:hover {
    background-color: var(--DarkTurq);
    color: white;
    cursor: pointer;
}

.cloneButtonPressed {
    display: flex;

    background-color: var(--DarkTurq);
    color: white;
    padding: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;

    height: 10vh;
}

.cloneUpdate {
    margin-top: 10%;
    vertical-align: middle;
    text-align: center;
}

.rightMenu {
    margin: 10px;
}

/* Remove these things remember! */
div {
    border-style: none;
    border-width: 1px;
}


/* Text styles */
h1 {
    font-family: Krona One;
    font-size: 48px;
}

h2 {
    font-family: Krona One;
    font-size: 28px;
}

h3 {
    font-family: Oxanium;
    font-weight: 200;
    font-size: 26px;
}