:root {
    --Turquoise: #5adbbb;
    --DarkTurq: #348c76;
    --PaleTurq: #c5ede4;
}


/* Normalizing rules here!!! */
body,
html {
    min-height: 100vh;
    height: 100%;
    margin: 0;
}

img {
    max-width: 100%;
}

.resizeImg {
    max-width: 30%;
}

body.fullPage {
    display: flex;
    flex-direction: column;
}



/* Containers */
header {
    background-color: var(--Turquoise);
    padding: 20px;
}

.headerGrid {
    display: grid;
    grid-template-columns: 4.5fr 3.5fr;
}

.headerIconsRow {
    display: flex;
    justify-content: right;
}

.headerIcon {
    margin-right: 10px;
    margin-left: 10px;
}

#temp {
    background-image: url(/*...*/);
}

footer {
    background-color: var(--Turquoise);
    padding: 20px;
}

.footerButtons {
    display: flex;
}

#footerGrid {
    grid-template-columns: 1fr 2fr;
}

main {
    flex-grow: 1;
    background-color: black;
    color: white;
}

.twoSecGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.rightLargerGrid {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.displayView {
    margin-top: 10px;
    margin-bottom: 10px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 70vh;
}

.himView {
    background-image: url("../images/vatview_good.gif");
}

.apparatusView {
    background-image: url("../images/apparatusView_good.gif");
}

.viewButton {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 0;
    padding-bottom: 5px;

    color: white;
}

.viewButton:hover {
    cursor: pointer;
    color: var(--Turquoise);
}

.viewButtonClicked {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 0;
    padding-bottom: 5px;

    color: var(--Turquoise);
}

#himClicked {
    
}

.cloneChamber {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 40vh;

    background-image: url('../images/emptyChamber.png');
}

.cloneButton {
    display: flex;

    background-color: var(--Turquoise);
    color: black;
    padding: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;

    height: 10vh;
}

.cloneButton:hover {
    background-color: var(--DarkTurq);
    color: white;
    cursor: pointer;
}

.cloneButtonPressed {
    display: flex;

    background-color: var(--DarkTurq);
    color: white;
    padding: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;

    height: 10vh;
}

.cloneUpdate {
    margin-top: 10%;
    vertical-align: middle;
    text-align: center;
}

/* Remove these things remember! */
div {
    border-style: solid;
    border-width: 1px;
}


/* Text styles */